@model MyMentor.Models.ChangePasswordViewModel
@using CaptchaMvc.HtmlHelpers
@using MvcReCaptcha.Helpers
@using MyMentor.BL.App_GlobalResources
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/MasterPages/_AccountLayout.cshtml";
}

<section role="main" class="main_content clearfix">
    <div class="fixedWidth innerPageContainer">
        <div class="formContainer">
            <h1 class="mentor_header">
                @MyMentorResources.lblTitleChangePassword
            </h1>
            @if (!Model.IsSuccess)
            {
                <div>
                    @Model.Message
                </div>

                using (Html.BeginForm("changepassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true);

                @Html.AntiForgeryToken()

                <div class="inputWrapper">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = MyMentorResources.phEnterEmailAddress})
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="inputWrapper">
                    @Html.Captcha(MyMentorResources.captchaChangeImage, MyMentorResources.captchaInstructions, 5, MyMentorResources.validationRequiredField, true)
                    @if (Model.CaptchaOK.HasValue && Model.CaptchaOK.Value == false)
                    {
                        <span class="field-validation-error"> @MyMentorResources.captchaInstructions</span>
                    }
                </div>
                <div class="clearfix">
                    <a href="#" class="btn_mentor floatL" onclick="javascript: if ($('form').valid()) { $('form').submit();}">@MyMentorResources.btnUpdatePassword</a>
                </div>
                }
            }
            else
            {
                <div>
                    @Model.Message
                </div>
            }
        </div>
    </div>
</section>